<section class="aboutmeContainer">
    <div class="lettering" id="aboutmeLettering">
        <span>About me</span>
    </div>
    <div class="aboutmeContent">

        <div class="aboutmeText animationDiv" id="aboutmeText">
            <h2>About me</h2>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatem dolores harum asperiores
                ratione eligendi dolorem blanditiis, dolorum, minima obcaecati explicabo vero nihil fugiat aliquam
                saepe, illo amet a? Veniam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta voluptate
                error iste recusandae. Nam ipsam, dignissimos non doloremque nihil magnam itaque eveniet natus, ipsum
                earum mollitia exercitationem placeat animi deserunt? Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Corporis debitis quos quas natus molestiae enim praesentium rem iste, eos unde magnam
                porro dolores voluptates amet, vitae placeat quaerat voluptatem numquam! Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Nam consectetur unde reprehenderit rerum corrupti inventore, dolorum, quam
                aperiam suscipit saepe perferendis alias fuga quidem eos facere architecto sit sapiente quasi.</span>
        </div>

    </div>
</section>