<div class="headerContainer" id="headerContainer">
    <div class="logoContainer">
        <p class="logo">N</p>

    </div>
    <nav id="nav">
        <a href="#">Home</a>
        <a href="#">Über mich</a>
        <a href="#">Fähigkeiten</a>
        <a href="#">Kontakt</a>

    </nav>

    <div onclick="toogleRespMenu()" class="burger" id="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div onclick="toogleRespMenu()" class="respMenu" id="respMenu">

        <a href="#">Home</a>
        <a href="#">Über mich</a>
        <a href="#">Fähigkeiten</a>
        <a href="#">Kontakt</a>
    </div>
</div>