<section class="heroContainer">

    <div class="heroContent">
        <div class="profilePhoto">
            <div class="imageOverlay"></div>
<img class="photo" src="./assets/img/titlephoto_komprimiert.webp" alt="">
        </div>
        <div class="headline">
            <div class="firstName">
                <span class="nameSize firstNamePosition">Natalie</span>
            </div>
            <div class="lastName lastNameTextPosition">
                <span class="nameSize">Schlindwein</span>
            </div>
        </div>
    </div>

</section>