.aboutme {
    width: 100%;
    min-height: 70vh;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 170px;

}

.aboutmeContainer {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.aboutmeContentContainer {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 56px;
    /* opacity: 0; */
    transition: opacity 2s ease-in-out;
}

.aboutmeContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 56px;
    margin-top: 56px;

}

.aboutmeText {
    width: 100%;
    max-width: 700px;
    height: fit-content;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--text-bg);
    border-radius: 10px;
}

.aboutmeText p {
    font-size: 20px;
}

.aboutmeText h2 {
    font-size: 32px;
}



.aboutmeTextContainer {
    height: fit-content;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;

}

.countries {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.countries img {
    margin-top: 5%;
    width: 30%;
    filter: brightness(0.3);

}



.ctaContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;


    gap: 56px;

}

.ctaContainer span {
    font-size: 22px;
    font-weight: 400;
}

.aboutmeBtnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.aboutmeBtnContainer button {
    /* transform: scaleX(0);transform-origin: left; */
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
    width: 200px;
    position: absolute;
    top: -7px;
    left: -7px;
    background-color: var(--highlight);
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
}

.btnBG {
    width: 200px;
    background-color: rgba(255, 255, 255, 0.145);
    border-radius: 10px;
    height: 60px;
    position: relative;
}

.aboutmeBtnContainer button:hover {
    top: 0;
    left: 0;
}

.textOpacity {

    opacity: 1 !important;
}


.profilePhoto {
    width: 500px;
    height: 650px;

    position: relative;
    display: flex;
    justify-content: center;
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.photo {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.345)
}

@media(max-width: 1200px) {
    .aboutmeContent {
        opacity: 1;
    }

    .countries {
        align-items: center;
    }

    .countries img {
        margin-top: -50%;
    }
}

@media(max-width: 1020px) {
    .aboutmeContainer{
        height: fit-content;
    }
    .aboutmeContentContainer{
        height: fit-content;
    }
    .aboutmeContent{
        flex-direction: column;
        height: fit-content;
    }
    .countries {
     flex-direction: column;
   justify-content: flex-start;
   gap: 32px;
       
    }
    .countries img{
width: 300px;
height: 300px;
margin-top: 0;
    }
}


@media(max-width: 500px) {


    .aboutmeText span {
        font-size: 16px;
        text-align: center;
    }

    .aboutmeBtnContainer {
        justify-content: center;
    }
}