.aboutme {
    width: 100%;
    min-height: 80vh;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;

}

.aboutmePhotoContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutmePhoto {
    width: 100%;
    max-width: 400px;
    border-radius: 3px;
}

.aboutmeContainer {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.aboutmeContentContainer {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 56px;
    /* opacity: 0; */
    transition: opacity 2s ease-in-out;
}

.aboutmeContent {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 112px;


}





.aboutmeTextContainer {

    width: 100%;
    /* max-width: 700px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
    /* border-right: solid 2px var(--secondary); */

}

.aboutmeWelcomeContainer {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.aboutmeWelcomeContainer h2 {
    font-size: 32px;
    margin: 0;
}


.aboutmeWelcomeContainer h3 {
    font-size: 24px;
    color: var(--highlight);
    margin: 0;
}



.aboutmeText {
    width: 100%;
    /* max-width: 700px; */
    height: fit-content;
    box-sizing: border-box;
    /* padding: 32px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: var(--text-bg); */
    /* border: solid 2px var(--secondary); */
    border-radius: 10px;
}


.aboutmeText p {
    font-size: 20px;
}

.aboutmeText h2 {
    font-size: 32px;
}

.profileDivider {
    width: 100%;
    /* max-width: 700px; */
    height: 2px;
    border-radius: 10px;
    background-color: var(--secondary);
}

.aboutmeFacts {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

.profileContainer {
    width: 100%;
    /* max-width: 700px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* background-color: var(--text-bg); */
    box-sizing: border-box;
    /* padding: 32px; */
    border-radius: 10px;
}

.profileInfos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profilRow {
    min-height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 32px;
}

.profileText {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}


.profileKey {

    min-width: 260px;
    display: flex;
    align-items: center;
}


.ctaContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    /* max-width: 700px; */
    gap: 32px;

}

.ctaContainer span {
    font-size: 22px;
    font-weight: 400;
}

.aboutmeBtnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
}


.textOpacity {

    opacity: 1 !important;
}


@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.345)
}

@media(max-width: 1750px) {

    .ctaContainer span {
        font-size: 18px;
    }
}

@media(max-width: 1450px) {
    .profileKey {
        max-width: 240px;
    }

    .ctaContainer span {
        font-size: 18px;
    }
}

@media(max-width: 1200px) {
    .aboutmeContent {
        opacity: 1;
    }

}

@media(max-width: 1020px) {

    .aboutme {
        margin-bottom: 0;
    }

    .aboutmeContainer {
        height: fit-content;
    }

    .aboutmeContentContainer {
        height: fit-content;
    }

    .aboutmeContent {
        flex-direction: column;
        height: fit-content;
    }

}


@media(max-width: 500px) {


    .aboutmeText span {
        font-size: 16px;

    }

    .aboutmePhoto {
        max-width: 250px;
    }

    /* .aboutmeBtnContainer {
        justify-content: center;
    } */
}

@media(max-width: 670px) {
    .profileContainer h2 {
        text-align: center;
    }
}

@media(max-width: 450px) {
    .profileKey {
        min-width: 140px !important;
        max-width: 140px;
    }
}