.contact{
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    padding: 56px;
    margin-bottom: 200px;
}

.contactContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}