footer {
    width: 100%;
    border-top: solid;
    border-width: 1px;
    border-color: var(--secondary);
    display: flex;
    justify-content: center;
}

.footerContainer {
    width: 100%;
    max-width: 1920px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
    box-sizing: border-box;
    padding: 32px 72px;
}

.mapleLogoContainer {

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mapleLogoContainer span {
    box-sizing: border-box;
    padding-left: 16px;
}

.codredLogo {
    width: 180px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.mapleLogo:hover {

    background-color: var(--secondary);
}


.legal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.legal a {
    box-sizing: border-box;
    padding: 8px;
    border-radius: 6px;
}

.legal a:hover {
 color: var(--highlight);
}

@media(max-width: 850px) {
    .footerContainer {
        flex-direction: column-reverse;
        padding: 20px 20px;
        gap: 16px;
    }
.mapleLogoContainer{
   align-items: center;
   gap: 0px;
   text-align: center;
}

}

@media(max-width: 400px) {
    .footerContainer span {
        font-size: 14px;
    }
}