@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    src: url(./../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}


html {
    scroll-behavior: smooth;

}
/* div{
    border:solid;
} */
body {
    width: 100%;
    height: 100vh;
    margin-block: 0;
    margin: 0;

    font-family: 'Montserrat';
    background-color: var(--bg-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
color: var(--primary);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}



a:active {
    transform: scale(0.95);
}

:root {
    --bg-color: rgb(0, 0, 0);
    /* --bg-color: #01151b; */
    /* --primary: rgb(132, 84, 2);*/
    /*--primary:rgb(242, 112, 144);*/
    /* --primary:rgb(244, 124, 154);*/
    /* --primary:rgb(55, 178, 245); */
    --primary: #A8C5CD;
    --secondary: rgb(39, 76, 120);
    --bg-header: rgba(255, 255, 255);
}

/*;rgb(4, 79, 123);*/