 .hero {
     width: 100%;
     height: calc(100vh - 120px)
 }

 /* div{
    border: solid 1px white;
} */
 .heroContainer {
     width: 100%;
     height: 100%;
     max-width: 1920px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: relative;
 }


 .heroContent {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
 }

 .nameContainer {
     display: flex;
     flex-direction: column;

 }

 .nameContainer p {
     font-size: 140px;
     color: var(--primary);
     font-weight: bolder;

 }

 .heroTitle {
     display: flex;
     flex-direction: column;
 }

 .heroTitle span {
     font-size: 48px;
     color: var(--secondary);
 }

 .heroTitle h2 {
     font-size: 40px;
     margin: 0;
 }

 .heroTitle button {
     margin-top: 56px;
 }


 .titlePhoto:not(.contactImage) {
     width: 45%;
     filter: brightness(0.9);
     border-radius: 10px;

 }

 .heroContactBtns {
     width: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 32px;
     position: absolute;
     bottom: 4px;
     left: 0;
     background-color: var(--text-bg);
     border-radius: 10px;
     box-sizing: border-box;
     padding: 16px;
     opacity: 0.4;
 }

 .heroContactBtnsLink {
     display: flex;
     justify-content: center;
     align-items: center;
     border: solid 1px var(--text-bg);
     border-radius: 10px;
     box-sizing: border-box;
     padding: 8px;
     cursor: pointer;
     transition: border-color 0.5s ease-in-out;
 }

 .heroContactBtnsLink:hover {
     border: solid 1px var(--primary);
 }

 .heroContactBtnsLink:active {
     transform: scale(0.90);
 }

 .contactImage {
     width: 30px;
 }


 @media(max-width:1750px) {
     .nameContainer p {
         font-size: 120px;
     }

     .heroTitle span {
         font-size: 48px;
     }

 }

 @media(max-width:1520px) {
     .nameContainer p {
         font-size: 100px;
     }

     .heroTitle span {
         font-size: 40px;
     }

 }

 @media(max-width:1220px) {
     .nameContainer p {
         font-size: 80px;
     }

     .heroTitle span {
         font-size: 32px;
     }
.heroTitle h2{
    font-size: 32px;
}
 }

 @media(max-width:1050px) {
     .heroContainer {
         background-image: none;
     }

     .heroContent {
         flex-direction: column;
     }
.heroContactBtns{
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.contactImage{
    width: 20px;
    height: 20px;
}

.titlePhoto{
    display: none;
}

 }

 @media(min-width:1050px) {

     /* .heroContent img {
         display: none;
     } */
.aboutmePhoto{
    display: none;
}
 }


 /* @media(max-width:900px) {
     .titlePhoto {
         width: 450px;
     }

 } */

 /* @media(max-width:790px) {
     .titlePhoto {
         width: 400px;
     }

 } */

 @media(max-width:670px) {

     .heroContainer {
         margin-top: 96px;
         justify-content: flex-start;
     }

     .nameContainer p {
         font-size: 60px;
     }

     .heroTitle span {
         font-size: 24px;
     }
.heroTitle h2{
    font-size: 18px;
}
     /* .titlePhoto {
         width: 300px;
     } */

 }

 @media(max-width:670px) {

     .heroContainer {
         margin-top: 96px;
         justify-content: flex-start;
     }

     .nameContainer p {
         font-size: 48px;
     }

     .heroTitle span {
         font-size: 20px;
     }

     /* .titlePhoto {
         width: 290px;
     } */

 }

 @media(max-width:670px) {
     .nameContainer p {
         font-size: 40px;
     }

     .heroTitle span {
         font-size: 20px;
     }

     /* .titlePhoto{
         width: 270px;
     } */
 }