 .hero {
     width: 100%;
     height: calc(100vh - 120px)
 }

 .heroContainer {
     width: 100%;
     height: 100%;
     max-width: 1920px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-image: url(./../assets/img/titlephoto_komprimiert.webp);
     background-position: right;
     background-size: contain;
     background-repeat: no-repeat;
    
 }

 .heroContent {
     width: 100%;
     max-width: 1440px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .heroTitle p {
     font-size: 140px;
     color: var(--secondary);
     font-weight: bolder;

 }

 .heroTitle span {
     font-size: 56px;
 }

 .overlay{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.28);
 }