/* div {
    border:solid;

} */
.content {
    width: 100%;
    max-width: 1920px;
    flex: 1;
    box-sizing: border-box;

    padding: 0 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: opacity 0.6s ease-in-out;
    gap: 56px
}

.hideContent {
    opacity: 0.3;
}

.sidebar{
    position: fixed;
    right: 4px;
    top: 50%;
    transform: translate(calc(100% - 56px), -50%);
    display: flex;
    flex-direction: column;
    gap: 4px;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
}

.sidebarContainer{
  width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    transition: transform 0.5s ease-in-out;
   background-color: var(--text-bg);
   backdrop-filter: blur(10px);
   border-radius:10px;

} 

.sidebarContainer button{
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarContainer button img{
    width: 24px;
    height: 24px;
    
}

.sidebarOpenBtn{
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: opacity 0.6s ease-in-out;
}
.sidebarOpenBtn button{
    width: 20px !important;
    height: 180px;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarOpenBtn button img{
    width: 40px;
}

.showSidebar{
    transform: translate(calc(100% - 56px), -50%) !important;
}

.slideSidebarBtn{
   opacity: 0;

}


.socialmedia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.socialmedia button{
    background-color: transparent;
}

.socialmedia button img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}


.moveSidebar{
    transform: translateX(calc(-100% + 56px)) !important;
}

.sidebarLink{
    color: var(--primary);
       box-sizing: border-box;
   padding: 0 16px;
}

.languages{
    display: flex;
    justify-content: space-between;
   gap: 4px;
   box-sizing: border-box;
   padding: 0 16px;
}

.languages button{
    width: 96px;
    height: 56px;
border-radius: 0;
  background-color: transparent;
    color: var(--primary);
  
}



.btnDivider{
   
    width: 1px;
    background-color: var(--primary);
}




/* .dividerContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.divider {
    height: 3px;
    background-color: var(--highlight);
    width: 0;
    transition: width 1s ease-in-out;
}

.width {
    width: 50%;
} */


.lettering {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    /* transform: translateX(-100vw); */
    transition: transform 1.2s ease-in-out, opacity 2s ease-in-out;
    opacity: 1;
    margin-top: 112px;
    

}

.lettering span {
    font-size: 120px;
    font-weight: bold;
    /* color: rgb(45, 44, 44); */
    color: var(--secondary);


}


.letteringSlide {
    /* animation: slider 2s ease-in-out; */

    /* transform: translateX(0%) !important; */

}

.sliderOpacity {
    opacity: 0.5;
}

.reverse {
    /* transform: translateX(100vw); */
}

/* @media(max-width:1800px) {
    .lettering span {
        font-size: 200px;
    }
} */

@media(max-width:1600px) {
    .lettering span {
        font-size: 150px;
    }
}

@media(max-width:1200px) {
    .lettering span {
        font-size: 100px;
    }

    .lettering {
        transform: translateX(0) !important;
    }
}

@media(max-width:1050px) {
    .content {
        padding: 0 56px;
    }


}
@media(max-width:850px) {
    .sidebar{
        /* display: none; */
     transform: translate(calc(100% + 60px), -50%);
    }
}

@media(min-width:850px) {
.sidebarOpenBtn{
    display: none;
}
}
@media(max-width:800px) {
    .lettering span {
        font-size: 80px;
    }
}


@media(max-width:500px) {
    .lettering span {
        font-size: 60px;
    }
}

@media(max-width:400px) {
    .lettering span {
        font-size: 48px;
    }
}

@media(max-width:670px) {
    .content {
        padding: 0 20px;
    }

}

@media(max-width:400px) {
    .content {
        padding: 0 20px;
    }

    .lettering {
        justify-content: center;
    }
}