.skills{
    width: 100%;
    max-width: 1920px;
    height: fit-content;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

 
  
}

.skillsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
}
.skillContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 3s ease-in-out;

}
.skillCards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

}
.skillCard{
    border:solid;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    transition: border-color 0.2s ease-in-out;
    box-sizing: border-box;
    padding: 8px;
}

.skillCard p{
    text-align: center;
}

.skillCard:hover{
    border-color: var(--highlight);
}



